<head>
    <link rel="icon" href=https://upload.wikimedia.org/wikipedia/commons/7/73/Ruby_logo.svg type="image/png"/>
    <!--Fuentes-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <title> Carreras </title>
	<style>
		body {
			font-family: 'Roboto', sans-serif;
			background: #ffffff;
		}
		footer{
			background: #2f5d62;
			color: #a7c4bc;
			height: 40px;
			margin: 0px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		footer p{
			margin: 0px
		}
		.titulo { 
			color: #5e8b7e ; 
			text-shadow: 3px 3px 6px #dfeeea;
			font-size: 5.1vh;
		} 
		.titulo h3{
			margin: 15px;
			padding-top: 15px;
			padding-bottom: 15px;
		}
		.col-2{
			margin: 5px;
			padding-top: 15px;
			padding-bottom: 15px;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: flex-end;
		}
		.col-1{
			font-size: 3vh;
			color: #2f5d62;
		}
		ul{
			margin-left:40px
		}
		li a{
			text-decoration: none;
			color: #2f5d62;
			font-size: 3vh;
			
		}
		.buttom{
			width: 160px;
			height: 50px;
			border-radius: 12px;
			background: #2f5d62;
			color: #dfeeea ;
			font-size: 3vh;
		}
		.input{
			width: 350px;
			height: 50px;
			border-radius: 12px;
			color: #2f5d62 ;
			font-size: 3vh;
			text-align: center
		}
		.cuerpo{
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: flex-start;
			margin-top: 0px
		}
		.img {
        width:35px;
        height:35px;
        margin-right: 40px;
      }
		.navBar{
        display:flex;
        flex-direction:row;
        justify-content: space-between;
        align-items: flex-end;
      }
      button{
        border: none;
        background: #ffffff;
        cursor: pointer;
      }
	  .boton{
		display:flex;
        justify-content: flex-end;
        align-items: flex-end;
		
	  }
	  .botonera {
		width: 80px;
		display:flex;
		flex-direction: column;
        justify-content: center;
    	  align-items: baseline;
    align-text: baseline;
		color: black;
		text-decoration: none;
	  }
	  p{
		margin: 0px;
		padding: 0px;
		text-align: center;
	  }
	  
    </style>
</head>

<body>
	<header>
		<div class="boton">	
			<a href="/search" class="botonera">
      <img href="/" class="img" src='https://cdn-icons-png.flaticon.com/512/59/59861.png'>
      <p>Buscar</p>
      </a>
			<a href="/" class="botonera">
				<img href="/" class="img" src='https://image.flaticon.com/icons/png/512/15/15766.png'>
				<p>Inicio </p>
			</a>
		</div>
		<hr>
	</header>
	<div class="cuerpo">
		<div class="col-1">
			<div class="titulo">
				<h3>Las carreras existentes son:</h3>
			</div>
			<ul>
				<% @careers.map do |career| %>
					<li>
						<a href="careers/<%=career.id%>"> <%= career.name %></a>
						(<%= career.surveys.count.to_s %>)
					</li>
				<% end %>
			</ul> 
		</div>
		<div class="col-2">		
	
			<img src=https://image.freepik.com/vector-gratis/pequenos-estudiantes-que-aprenden-lecciones-linea-traves-ilustracion-plana-computadora-portatil-gente-dibujos-animados-escuchando-seminario-web-computadora-o-conferencia-universitaria-video_74855-14179.jpg>
			<form action='/careers' method='POST'>
				<input class=input type='text' name='name' placeholder= 'Nombre de la Carrera'>
				<input class=buttom  type='submit' value='Crear'>
			</form>
		</div>
	</div>
</body>
