<head>
    <link rel="icon" href=https://upload.wikimedia.org/wikipedia/commons/7/73/Ruby_logo.svg type="image/png"/>
    <!--Fuentes-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <title> Carreras </title>
	<style>
		body {
			font-family: 'Roboto', sans-serif;
			background: #ffffff;
		}
		footer{
			background: #2f5d62;
			color: #a7c4bc;
			height: 40px;
			margin: 0px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		footer p{
			margin: 0px
		}
		.titulo { 
			color: #5e8b7e ; 
			text-shadow: 3px 3px 6px #dfeeea;
			font-size: 5.1vh;
		} 
		.titulo h3{
			margin: 15px;
			padding-top: 15px;
			padding-bottom: 15px;
		}
		.col-2{
			margin: 5px;
			padding-top: 15px;
			padding-bottom: 15px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.col-1{
			font-size: 3vh;
			color: #2f5d62;
		}
		ul{
			margin-left:40px
		}
		li a{
			text-decoration: none;
			color: #2f5d62;
			font-size: 4vh;
			
		}
		.buttom{
			width: 160px;
			height: 50px;
			border-radius: 12px;
			background: #2f5d62;
			color: #dfeeea ;
			font-size: 3vh;
		}
		.input{
			width: 350px;
			height: 50px;
			border-radius: 12px;
			color: #2f5d62 ;
			font-size: 3vh;
			text-align: center
		}
		.cuerpo{
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: flex-start;
			margin-top: 0px
		}
    </style>
</head>
<body>
	<div class="cuerpo">
		<div class="col-1">
			<div class="titulo">
				<h3> <%= @survey.username %> La orientacion ganadora fue:</h3>
			</div>
			
		</div>
		<div class="col-2">			
			<img src=https://image.freepik.com/vector-gratis/pequenos-estudiantes-que-aprenden-lecciones-linea-traves-ilustracion-plana-computadora-portatil-gente-dibujos-animados-escuchando-seminario-web-computadora-o-conferencia-universitaria-video_74855-14179.jpg>
			
				<div class="intro">

		</div>

		<h1> <%= @career.name %> <br> </h1>

		<div class="cuerpo">
			<ul>
				<li> <h2> Si desea ver la lista de carreras disponibles haga <a href="/careers"> clic aqui </a> </h2> </li>
			</ul>
			<ul>
				<li> <h2> Si desea volver a realizar la encuesta haga <a href="/"> clic aqui </a> </h2> </li>
			</ul>
		</div>
		</div>
	</div>
</body>
