<head>
    <link rel="icon" href=https://upload.wikimedia.org/wikipedia/commons/7/73/Ruby_logo.svg type="image/png"/>
    <!--Fuentes-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <title> Carreras </title>
	<style>
		body {
			font-family: 'Roboto', sans-serif;
			background: #ffffff;
		}
		footer{
			background: #2f5d62;
			color: #a7c4bc;
			height: 40px;
			margin: 0px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		footer p{
			margin: 0px
		}
		.titulo { 
			color: #f2f2f6; 
			font-size: 4.1vh;
		} 
		.titulo h3{
			margin: 15px;
			padding-top: 15px;
			padding-bottom: 15px;
		}
		.col-2{
			margin: 5px;
			padding-top: 15px;
			padding-bottom: 15px;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: flex-end;
		}
		.col-1{
			font-size: 3vh;
			color: #2f5d62;
		}
		ul{
			margin-left:40px
		}
		li a{
			text-decoration: none;
			color: #2f5d62;
			font-size: 4vh;
			
		}
		.buttom{
			width: 160px;
			height: 50px;
			border-radius: 12px;
			background: #2f5d62;
			color: #dfeeea ;
			font-size: 3vh;
		}
		.input{
			width: 350px;
			height: 50px;
			border-radius: 12px;
			color: #2f5d62 ;
			font-size: 3vh;
			text-align: center
		}
		.cuerpo{
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: flex-start;
			margin-top: 0px
		}
		h3{
			color: #f2f2f6;
			font-size: 8vh;
			text-align: center;
			margin: 5px;
			text-shadow: 2px 2px 4px #dfeeea;

		}
		.img {
        width:35px;
        height:35px;
		display:flex;
        justify-content: center;
        align-items: center;
      }
      button{
        border: none;
        background: #ffffff;
        cursor: pointer;
      }
	  .boton{
		display:flex;
        justify-content: flex-end;
        align-items: flex-end;
		
	  }
	  .botonera {
		width: 80px;
		display:flex;
		flex-direction: column;
        justify-content: center;
        align-items: center;
		align-text: center;
		color: black;
		text-decoration: none;
	  }
	  p{
		margin: 0px;
		padding: 0px;
		text-align: center;
	  }
	  .card{
		width: 80%;
		border: 5px solid #5e8b7e;
		border-radius: 10px;
		display: flex;
		margin-left: 10%;
		margin-top: 5%;
		height: 70%;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	  }
	  .login{
		width: 80%;
	  }
	  .izq{
		border-radius: 10px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 50%;
		height: 100%;
		background: #f2f2f6 ;
	  }
	  .der{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 50%;
		height: 100%;
		background: #5e8b7e;
	  }
	  .description{
		margin: 10px;
		padding: 10px;
		text-align: center;
		width: 70%;
	  	font-size: 4vh;
		color: #dfeeea;
		}
    </style>
</head>
<body>
	<header>
		<div class="boton">	
			<a href="/careers" class="botonera">
				<img href="/" class="img" src='https://image.flaticon.com/icons/png/512/999/999735.png'>
				<p>Carreras </p>
			</a>
			<a href="/" class="botonera">
				<img href="/" class="img" src='https://image.flaticon.com/icons/png/512/15/15766.png'>
				<p>Inicio </p>
			</a>
		</div>
		<hr>
	</header>
	<div class="card">
		<div class="izq">
			<img class="login" src="https://image.freepik.com/vector-gratis/sigueme-diseno-tematica-social-empresarial_24877-50426.jpg">
		</div>
		<div class="der">
			<h2 class="titulo"> <%= @survey.username %> </h2>
			<h3> <%= @career.name %> <br> </h3>
			<p class="description"> Es la carrera  que se adecua mas a tu perfil segun los resultados de nuestro test vocacional</p>
		</div>
	</div>	
</body>
