<!DOCTYPE html>
  <HTML>
    <head>
      <title>Test Vocacional</title>
      <div class="formHeader" color="talkColor">
    <div class="navArrow2" name="md-arrow-round-back" align="center"> </div>
    <div class="tituloTab" align="center"><h1>Te gustaria hacer un test vocacional?</h1></div>
</div>
    </head>
    <body>
      <div>
        <p>Para elegir una carrera o estudio es necesario conocer o reconocer
        para qué somos hábiles y qué cosas nos interesan o atraen. Ese es
        un primer paso para luego pasar a la etapa de información y abordar
        el mundo de las carreras y profesiones.</p>
        <p>Para ayudarte a aclarar el panorama, te proponemos:</p>
        <h3> HACÉ NUESTRO TEST VOCACIONAL</h3>
	    <form action="../form-result.php" target="_blank">

  <p>

    Usuario: <input type="text" name="usuario" placeholder="Ingresa tu Usuario">

    <input type="submit" value="Enviar la información">

  </p>

</form>
      </div>
    </body>  
  </HTML>
