<head>
    <link rel="icon" href=https://upload.wikimedia.org/wikipedia/commons/7/73/Ruby_logo.svg type="image/png"/>
    <!--Fuentes-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <title> Preguntas </title>
	<style>
		body {
			font-family: 'Roboto', sans-serif;
			background: #ffffff;
		}
		footer{
			background: #2f5d62;
			color: #a7c4bc;
			height: 40px;
			margin: 0px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		footer p{
			margin: 0px
		}
		.titulo { 
			color: #5e8b7e ; 
			text-shadow: 3px 3px 6px #dfeeea;
			font-size: 5.1vh;
		} 
		.titulo h3{
			margin: 15px;
			margin-left: 65px;
			padding-top: 15px;
			padding-bottom: 15px;
		}
		.col-2{
			margin: 5px;
			padding-top: 15px;
			padding-bottom: 15px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.col-1{
			font-size: 4vh;
			color: #2f5d62;
		}
		ul{
			margin-left:40px
		}
		li a{
			text-decoration: none;
			color: #2f5d62;
			font-size: 3.5vh;
			
		}
		.buttom{
			width: 160px;
			height: 50px;
			border-radius: 12px;
			background: #2f5d62;
			color: #dfeeea ;
			font-size: 3vh;
		}
		.input{
			width: 500px;
			height: 50px;
			border-radius: 12px;
			color: #2f5d62 ;
			font-size: 3vh;
			text-align: center;
			margin: 10px;
		}
		.cuerpo{
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: flex-start;
			margin-top: 0px
		}
		form {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			
		}
    </style>
</head>

<body>
	<div class="cuerpo">
		<div class="col-1">
			<div class="titulo">
				<h3>Las preguntas existentes son:</h3>
			</div>
			<ul>
				<% @questions.map do |question| %>
					<li>
						<a href="questions/<%=question.id%>"> <%= question.name %></a>
					</li>
				<% end %>
			</ul> 
		</div>
		<div class="col-2">	
			<img src=https://image.freepik.com/vector-gratis/pequena-empresaria-comprobando-tareas-completadas-ilustracion-plana-portapapeles_74855-15535.jpg>
			<form action='/questions' method='POST'>
				<input class=input type='text' name='question[name]' placeholder= 'Pregunta'>
				<input class=input type='text' name='question[description]' placeholder= 'Descripcion'>
				<input class=input type='number' name='question[number]' placeholder= 'Nro de pregunta' min="1">
				<input class=input type='text' name='question[type]' placeholder= 'Facultad'>  	
				<input class=buttom type='submit' value='Crear'>
			</form>
		</div>
	</div>
</body>
